* {
  background-color: black;
}

header {
  text-align: center;
  position: fixed;
  top: 0%;
  width: 100%;
}

body {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  color: orange;
}

h2 {
  color:white;
}

#event-date-label {
  width: 100%;
  text-align: center;
}

.nav-bar{
  border:1px solid orange;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.nav-bar li{
  display:inline;
}
.nav-bar a{
  display:inline-block;
  padding:10px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#pumpkin-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 30%;
  min-width: 300px;
}

.hidden-caption {
  color:black;
  margin: 10px;
  width: 100%;
  text-align: center;
}

#pumpkin-image:hover+.hidden-caption {
  color: orangered;
}

input {
  color: white;
  width: 400;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 16px;
  resize: vertical;
}
  
input[type=submit] {
  background-color: orangered;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
}

footer {
  color: orange;
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}